.Contact_Us_img_outer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .Contact_us_person_details {
    color: #000;
    text-align: center;
    font-family: Neue Montreal;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 0.3rem;
  }
  .Contact_us_person_text{
      padding-top: 1.5rem;
  }
  


.iframe_inner{
    display: block;
    border: none;
    width: 100%;
    height: 90vh;
    filter: grayscale(1.5);
  }
  @media (max-width: 787px) {
    .iframe_inner {
      height: 50vh;
    }
    .iframe_outer{
      height: 50vh;
    }
  }
  