.first_project_text_header {
    color: #7f7047;
    text-align: center;
    font-family: Roseritta;
    font-size: 120.669px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.413px;
    text-transform: uppercase;
  }
  .first_project_text_content {
    color: #cc7d45;
    text-align: right;
    font-family: Neue Montreal;
    font-size: 15.616px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
  .first_project_text_firstcontent {
    width: 20%;
    float: right;
    margin-right: 19rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .first_project_layout_outer {
    padding-top: 10rem;
  }
  .First_project_layout_image {
    text-align: center;
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .Single_project_image1 {
    width: 100%;
    padding-bottom: 2rem;
  }
  .First_project_layout_image2 {
    display: flex;
    gap: 2rem;
  }
  .interior_material_outer {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
  }
  .interior_material_content {
    display: flex;
    justify-content: space-between;
  }
  .interior_material_img {
    max-width: 100%;
    height: auto;
  }
  .interior_material_text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .interior_material_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .interior_material_overlay_text {
    color: #000;
    font-family: Neue Montreal;
    font-size: 15.616px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
  .interior_material_specs_content {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    width: 27%;
  }
  .interior_material_specs_text {
    color: #cc7d45;
    font-family: Neue Montreal;
    font-size: 15.616px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
  
  .Interior_second_text_content {
    display: flex;
    padding-top: 3rem;
    padding-bottom: 5rem;
    justify-content: center;
    align-items: center;
  }
  
  .Interior_second_text_content_first {
    width: 66%;
    color: #7f7047;
    font-family: Roseritta;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .interior_last_room_Section {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    position: relative;
  }
  .interior_last_room_img {
    width: 100%;
    height: 100%;
  }
  .interior_last_room_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .interior_last_room_overlay_svgs {
    cursor: pointer;
  }
  .inetrior_lastroom_img_{
    max-width: 100%;
    height: auto;
  }
  
  @media (min-width:1500px){
    .first_project_text_header{
      font-size: 130px;
    }
    .first_project_text_firstcontent{
      width: 28%;
      margin-right: 25rem;
    }
    .first_project_text_content{
      font-size: 17px;
    }
    .interior_material_specs_text{
      font-size: 17px;
    }
    .interior_material_specs_content{
      width: 35%;
    }
  }
  
  @media (max-width: 1440px){
    .first_project_text_firstcontent{
      width: 27%;
    }
    .interior_material_specs_content{
      width: 45%;
    }
    .First_project_layout_image2{
      gap: 7rem;
    }
    .first_project_text_firstcontent {
      width: 35%;
      float: right;
      margin-right: 13rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
  
  @media (max-width: 1024px){
    .interior_material_specs_content{
      width: 57%;
    }
    .First_project_layout_image2{
      gap: 2rem;
    }
    .first_project_text_firstcontent {
      width: 44%;
      float: right;
      margin-right: 4rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
  
  @media (max-width: 768px) {
    .interior_material_content {
      gap: 2rem;
    }
    .interior_material_img{
      align-items: center;
    }
    .first_project_layout_outer{
      padding-top: 5rem;
    }
    .first_project_text_header{
      font-size: 80px;
    }
    .first_project_text_firstcontent{
      margin-right: 5rem;
      width: 50%;
      padding-bottom: 4rem;
    }
    .First_project_layout_image{
      padding-left: 3rem;
      padding-right: 3rem;
    }
    .interior_material_specs_content{
      width: 72%;
    }
    .Interior_second_text_content_first{
      width: 100%;
      font-size: 52px;
    }
    .Interior_second_text_content{
      padding-left: 3rem;
      padding-right: 3rem;
      padding-bottom: 3rem;
    }
    .Single_project_image1{
      max-width: 100%;
      height: auto;
    }
    .interior_last_room_Section{
      padding-bottom: 2rem;
    }
    .interior_material_specs_content{
      padding-bottom: 0rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }
    .interior_material_content {
      overflow-x: auto;
      white-space: nowrap; 
    }
    .interior_material_outer{
      padding-left: 3rem;
      padding-right: 3rem;
      padding-bottom: 3rem;
    }
    .interior_material_text {
      flex: 0 0 auto; 
    }
    .interior_material_img {
      max-width: none;
    }
    .interior_last_room_Section {
      padding-left: 3rem;
      padding-right: 3rem;
      padding-bottom: 3rem;
      position: relative;
    }
  }
  
  @media (max-width: 575px) {
    .interior_material_specs_content{
      padding-bottom: 0rem;
    }
    .Interior_second_text_content_first{
      font-size: 28px;
    }
    .first_project_text_header{
      font-size: 43px;
    }
    .first_project_layout_outer{
      padding-top: 2rem;
    }
    .first_project_text_firstcontent{
      padding-left: 3rem;
      padding-right: 3rem;
      padding-bottom: 2rem;
      padding-top: 2rem;
      margin-right: 0rem;
      width: 100%;
    }
    .First_project_layout_image2{
      flex-direction: column;
      gap: 0rem;
    }
    .interior_material_outer{
      padding-left: 3rem;
      padding-right: 3rem;
      padding-bottom: 1rem;
    }
    .interior_material_content{
      gap: 1rem;
    }
    .Interior_second_text_content{
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 2rem;
    }
    .interior_material_specs_text{
      font-size: 13px;
    }
    .interior_material_specs_content{
      width: 100%;
    }
    .inetrior_lastroom_img{
      height: 120px;
    }
    .interior_last_room_overlay{
      top: 42%;
    }
  }
  
  @media (max-width: 375px) {
    .First_project_layout_image{
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .interior_material_outer{
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .Single_project_image1{
      padding-bottom: 1rem;
    }
    .first_project_text_header{
      font-size: 28px;
    }
    .first_project_text_firstcontent{
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 2rem;
      padding-top: 2rem;
      margin-right: 0rem;
      width: 100%;
    }
    .interior_material_specs_content{
     padding-left: 2rem;
     padding-right: 2rem;
    }
    .Interior_second_text_content{
      padding-bottom: 2rem;
    }
    .interior_last_room_Section{
      padding-bottom: 0rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .Interior_second_text_content_first{
      font-size: 20px;
    }
    .first_project_text_content{
      font-size: 13px;
    }
    .inetrior_lastroom_img{
      height: 65px;
    }
    .interior_last_room_overlay{
      top: 50%;
    }
  }
  