.p-dropdown-items {
  background-color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "NeueMontreal-Regular";
}
.p-dropdown-item {
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
}

#standard-basic-label {
  color: white;
  font-size: 18px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

#outlined-basic-label {
  color: white;
  font-size: 18px;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  font-size: 17px !important;
  color: white !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:hover
  .MuiOutlinedInput-notchedOutline {
  border: 1px solid white !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:not(:hover)
  .MuiOutlinedInput-notchedOutline {
  border: 1px solid white !important;
}

.css-1eed5fa-MuiInputBase-root-MuiInput-root::before {
  border-bottom: none !important;
}
.css-1eed5fa-MuiInputBase-root-MuiInput-root::after {
  border-bottom: none !important;
}
.css-1eed5fa-MuiInputBase-root-MuiInput-root {
  border-bottom: 1px solid white !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
}

.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root:hover{
  border: none !important;
  outline: none !important;
}

.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root:focus-visible{
  border: none !important;
  outline: none !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border: 1px solid white !important;
}

.css-bpeome-MuiSvgIcon-root-MuiSelect-icon{
  color: white !important;
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
  color: white !important;
}
.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
}
