.imageContainer {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .imageContainer {
    display: none;
    width: 500px;
    height: 450px;
    position: relative;
  }

  .yooimg {
    object-fit: cover;
  }
}
