.timeline_container {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 10rem;
}
.timeline_Section {
  /* display: flex; */
}
.timeline_content1 {
  display: flex;
  justify-content: left;
  gap: 3rem;
}
.timeline_img_section {
  /* width: 25%; */
  /* display: flex;
  justify-content: center; */
}
.timeline_content2 {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3rem;
}
.timeline1_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}
.timline1_meet_text {
  color: #cc7d45;
  font-family: Roseritta;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.timeline1_content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.timeline1_innertext {
  padding-top: 1rem;
  width: 68%;
}
.timeline1_innertext2 {
  padding-top: 1rem;
  width: 85%;
}
.timeline1_innertext4 {
  padding-top: 1rem;
  width: 80%;
}
.timeline1_innertext5 {
  padding-top: 1rem;
  width: 80%;
}
.timeline1_innertext_design {
  width: 41%;
  padding-top: 1rem;
}

.timline1_meet_text_inner,
.timline1_meet_text_inner2 {
  color: #000;
  font-family: Neue Montreal;
  font-size: 15.616px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.timline1_meet_text_content {
  width: 90%;
}
.border_line_content {
  text-align: center;
}
.linesvg {
  max-width: 100%;
}
/* .border_top::before{
  position: absolute;
  content: "";
  top: 50%;
  width: 50%;
  left: 50%;
  background-color: red;
  
}
.border_top{
  position: relative;
  border-top: 0.5px grey;
  border-style: dashed;
  width: 500px;
} */
.border_top {
  width: 666px;
  height: 84px;
  margin-bottom: 2rem;
  position: relative;
  margin-left: 8rem;
  border-left: 1px dashed black;
}

.border_top::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px dashed black;
}
.border_top::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 50%;
  border-right: 1px dashed black;
}


.border_top1 {
  width: 666px;
  height: 84px;
  margin-top: 4rem;
  position: relative;
  margin-left: 8rem;
  border-left: 1px dashed black;
}

.border_top1::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px dashed black;
}
.border_top1::after {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  border-right: 1px dashed black;
}

.border_top_max{
  display: none;
}
/* @keyframes dash {
  to {
    stroke-dashoffset: 2000;
  }
} */
@media (min-width: 1500px) {
  .timeline_container {
    padding-left: 20rem;
    padding-right: 20rem;
  }
  .timline1_meet_text_content {
    width: 100%;
  }
  /* .timline1_meet_text_inner {
    width: 65%;
  }
  .timline1_meet_text_inner2 {
    width: 80%;
  } */
  .timeline1_innertext {
    padding-top: 1rem;
    width: 65%;
  }
  .timeline1_innertext2 {
    padding-top: 1rem;
    width: 85%;
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .timeline_container {
    padding-left: 8rem;
    padding-right: 6rem;
  }
  .timeline1_content,
  .timeline1_content1 {
    width: 100%;
  }
  .timeline1_innertext {
    width: 70%;
  }
  .timeline1_innertext_design {
    width: 70%;
  }
  .timline1_meet_text {
    font-size: 45px;
  }
  .timeline_content1,
  .timeline_content2 {
    /* padding-bottom: 2rem; */
  }
}
@media (max-width: 768px) {
  .timeline_container {
    padding-top: 4rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .timeline_content1,
  .timeline_content2 {
    gap: 2rem;
    justify-content: center;
    /* padding-bottom: 2rem; */
    /* flex-direction: column; */
  }
  .timeline1_content,
  .timeline1_content1 {
    width: 100%;
  }
  .timeline1_innertext_design {
    width: 100%;
  }
  .timline1_meet_text {
    font-size: 49px;
  }
  .timline1_meet_text_content {
    width: 100%;
  }
  .timeline1_image {
    max-width: 100%;
    height: auto;
  }
  .border_top{
    display: none;
  }
  .border_top1{
    display: none;
  }
  .border_top_max{
    display: block;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .border_max{
    width: 100%;
    height: 20vh;
  }
}
@media (max-width: 425px) {
  .timeline_container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .timline1_meet_text {
    font-size: 28px;
  }
}
