.a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
}

.p {
  margin: 0px;
  display: flex;
  overflow: hidden;
  font-family: Roseritta;
  font-size: 80px;
  padding-right: 2vw;
  padding-top: 13px;
  font-weight: 300;
}

/* @media only screen and (min-width: 1000px) {
  .body {
    max-width: 1200px;
    margin-top: 30px;

    
  }

  .p {
    font-size: 80;
    padding-right: 2vw;
  }
} */
