.nav_body {
  flex-wrap: wrap;
}
.nav_body a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  width: fit-content;
  text-transform: uppercase;
}
.nav_body p {
  margin: 0px;
  display: flex;
  font-family: Roseritta;
  overflow: hidden;
  font-size: 60px;
  font-weight: 300;
}
.navOpenLogo{
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 40px;
}
.interiormaata_openMenu_Text {
  font-size: 30px;
  font-family: "NeueMontreal-Regular";
  text-transform: uppercase;
  color: #fff;
}
@media (min-width: 1600px) and (max-width: 1920px) {
  .nav_body {
    /* display: flex; */
    flex-wrap: wrap;
    /* padding: 2rem 4rem; */
  }
  .nav_body a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
  }
  .nav_body p {
    margin: 0px;
    display: flex;
    font-family: Roseritta;
    overflow: hidden;
    font-size: 80px;
    /* padding-right: 30px; */
    /* padding-top: 10px; */
    font-weight: 300;
  }
}



