.testing {
  height: 100vh;
  font-family: Roseritta;
  font-size: 120.669px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.413px;
  text-transform: uppercase;
  color: #7f7047;
}
