
.sliderArrow{
  position: relative;
}


.sliderArrow_next{
  position: absolute;
    top: -23rem;
    cursor: pointer;
    left: 96%;
    z-index: 9;
}

.sliderArrow_prev{
  position: absolute;
  top: -23rem;
  cursor: pointer;
  left: 4%;
  rotate: 190deg;
  z-index: 9;
}


@media (min-width:1600px){
  .sliderArrow_next{
    position: absolute;
      top: -28rem;
      left: 96%;
      z-index: 9;
  }
  
  .sliderArrow_prev{
    position: absolute;
    top: -28rem;
    left: 4%;
    rotate: 190deg;
    z-index: 9;
  }
}